<!DOCTYPE html>
<html>
  <head>
    <title>
    	<%= title %>
    </title>
    <% include header %>
  </head>
  <body>
    <h1>
    	<%= title %>
    </h1>
    <% include menubar %>
    <div class="container-fluid">
		<div class="row-fluid">
			<% include sidebar %>
			<div class="span8 offset2">
				<h3>
					<% 
					if (!und.isUndefined(locals.game)) {
					%><%= game.team1.teamName %> vs. <%= game.team2.teamName %>
					<%
					}
					%>
				</h3>
				<button class="btn btn-primary" id="savegame" data-game-id="<%= game._id %>">
					<i class="icon-file"></i>Save game</button>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Question</th>
							<th class="team-name" data-team-id="<%= game.team1._id %>"
								colspan="<%= game.team1.teamRoster.length + 2 %>"><%= game.team1.teamName %></th>
							<th class="team-name" data-team-id="<%= game.team2._id %>" 
								colspan="<%= game.team2.teamRoster.length + 2 %>"><%= game.team2.teamName %></th>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<%
							teams[0].teamRoster.forEach(function (player) {
								if (typeof player != 'undefined') {
								%>
									<th class="user-name" data-user-id="<%= player._id %>"><%= player.firstName + ' ' + player.lastName %></th>
								<%
								}
							}) %>
							
							<th>Bonus Points</th>
							<th>Running Total</th>
							
							<%
							teams[1].teamRoster.forEach(function (player) {
							%>
								<th class="user-name" data-user-id="<%= player._id %>"><%= player.firstName + ' ' + player.lastName %></th>
							<%
							}) %>
							
							<th>Bonus Points</th>
							<th>Running Total</th>
						</tr>
					</thead>
					<tbody>
						<%
						var numPlayers1 = game.team1.teamRoster.length;
						var numPlayers2 = game.team2.teamRoster.length;
						for (var i = 1; i < 21; i++) {
						%>
							<tr>
							<td><%= i %></td>
						<%
							for (var j = 1; j < numPlayers1 + 1; j ++) {
						%>
								<td align="center" class="player-score player-id-<%= teams[0].teamRoster[j -1]._id %>" 
									data-question-num="<%= i %>" id="player_score_A_<%= i %>_<%= j %>">
									
								</td>
						<%
							}
						%>
							<td align="center" class="bonus-score team-id-<%= game.team1._id %>" 
								data-question-num="<%= i %>" id="bonus_score_A_<%= i %>">
								
							</td>
							<td align="center" class="running-total" id="running_total_A_<%= i %>">
								
							</td>
						<%	
							for (var j = 1; j < numPlayers2 + 1; j ++) {
						%>
								<td align="center" class="pagination-centered player-score player-id-<%= teams[1].teamRoster[j -1]._id %>" 
									data-question-num="<%= i %>" id="player_score_B_<%= i %>_<%= j %>">
									
								</td>
						<%
							}
						%>
							<td align="center" class="bonus-score team-id-<%= game.team2._id %>" 
								data-question-num="<%= i %>" id="bonus_score_B_<%= i %>">
								
							</td>
							<td align="center" class="running-total" id="running_total_B_<%= i %>">
								
							</td>
							</tr>
						<%
						}
						%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
  </body>
</html>