<!DOCTYPE html>
<html>
  <head>
    <title>
    	<%= title %>
    </title>
    <% include header %>
  </head>
  <body>
    <h1>
    	<%= title %>
    </h1>
    <% include menubar %>
    <div class="container-fluid">
		<div class="row-fluid">
			<% include sidebar %>
			<div class="span8 offset2">
				
				<% include errormsg %>
				<%
				if (typeof tournament != 'undefined' && tournament) {
				%>
					
					<p>
						<h3><%= tournament.tourName %></h3>
					</p>
					<p>
						<h4><%= moment(tournament.tourDate).format('dddd, MMMM D, YYYY') %></h4>
					</p>
					<p>
						<h4><%= tournament.tourLocation %></h4>
					</p>
					<p>
						<h5><%= tournament.tourAddress %></h5>
					</p>
					<input type="hidden" id="tour-id" value="<%= tournament._id %>">
					<%
					if (!und.isUndefined(locals.teams) && teams) {
					%>
						<table class="table table-striped">
							<caption>
								Participating Teams
								<a href="/addteam/<%= tournament._id%>">
									<i class="icon-plus-sign"></i>
								</a>
							</caption>
							<thead>
								<tr>
									<th>Team Name</th>
									<th>Wins</th>
									<th>Losses</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
							<%
								teams.forEach(function(team) {
							%>
								<tr>
									<td><%= team.teamName %></td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>
										<a href="/viewteam/<%= team._id %>">
											<i class="icon-edit"></i>
										</a>
									</td>
								</tr>
								
							<%
								});
							%>
							</tbody>
						</table>
					<%
					}
					
					if (!und.isUndefined(locals.games) && games) {
					%>
						<table class="table table-striped">
							<caption>Games
								<a href="/newgame/<%= tournament._id%>">
									<i class="icon-plus-sign"></i>
								</a>
							</caption>
							<thead>
								<tr>
									<th>Round</th>
									<th>Team 1</th>
									<th>Team 2</th>
									<th>Score</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
							<%
							games.forEach(function(game) {
							%>
								<tr>
									<td><%= game.round %></td>
									<td><%= game.team1.teamName %></td>
									<td><%= game.team2.teamName %></td>
									<td>&nbsp;</td>
									<td><a href="/playgame/<%= game._id %>">
										<i class="icon-edit"></i>
									</a></td>
								</tr>
							<%
							});
							%>
							</tbody>
						</table>
					<%
					}
					%>
					
				
				<%
				}
				%>
				
			</div>
		</div>
	</div>
  </body>
</html>